<ion-header>
    <ion-navbar color="head">
        <ion-searchbar [(ngModel)]="searchstring" (input)="searchitem($event)" placeholder="{{'Search' | translate}}"></ion-searchbar>
    </ion-navbar> 
</ion-header>
      <!-- Search Page to get product-->
      <ion-content no-padding> 
    <ion-spinner *ngIf="!filtereditems" name="crescent" style="display:block; margin-left: auto; margin-right:auto; font-size: 20px; font-weight:bold"></ion-spinner>
        <div *ngIf="filtereditems" class="prod">
             <div *ngIf="filtereditems.length">
       <ion-grid>      
         <ion-row wrap>   
           <ion-col col-6 *ngFor="let item of filtereditems" >
             <ion-item class="cat2" (click)="getProductDetails(item.id)">
             <div *ngIf="item.available"  class="ribbon pop-in">30% off</div>
             <div *ngIf="!item.available"  class="ribbon pop-in">out of stock</div>
             <img src="{{item.downloadURL}}">
             <h4 text-center><b>{{item.name}}</b></h4>
               <ion-row class="price-padding">
                 <ion-col>
                     <div style="font-size:15px;color:red" *ngIf="item.sale_price">{{1*item.sale_price | currency:values.currency:true:'1.2-2'}}</div>
                 </ion-col>
                 <ion-col text-right>
                    <div style="font-size:15px;color:green" *ngIf="!item.sale_price">{{1*item.regular_price | currency:values.currency:true:'1.2-2'}}</div>
                    <div style="font-size:15px;color:green" *ngIf="item.sale_price"><del>{{1*item.regular_price | currency:values.currency:true:'1.2-2'}}</del></div>
                 </ion-col>
              </ion-row>
             </ion-item>
           </ion-col>
         </ion-row>
     </ion-grid> 
             </div>
         </div>
     </ion-content>
     
      
      