<ion-header>
  <ion-navbar color="head">
    <ion-title text-center *ngIf ="this.currentUser">{{'Book Appointment' | translate}}</ion-title>
    <ion-title text-center *ngIf ="!this.currentUser">{{'Please Login' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf =" this.currentUser">
    <form #f="ngForm">
        <ion-list>
           <ion-item>
              <ion-icon name="person" color="chocolate" item-start></ion-icon>
              <ion-input required type="text" [(ngModel)]="form.name" name="name" placeholder="{{'Name' | translate}}"></ion-input>
           </ion-item>  

           <ion-item>
              <ion-icon name="mail" color="chocolate" item-start></ion-icon>
              <ion-input required type="text" [(ngModel)]="form.email" name="email" placeholder="{{'Email' | translate}}"></ion-input>
           </ion-item>
         
           <ion-item>
              <ion-icon name="call" color="chocolate" item-start></ion-icon>
              <ion-input required type="text" [(ngModel)]="form.phone" name="phone" placeholder="{{'Phone' | translate}}"></ion-input>
           </ion-item>

           <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-label><b>{{'Date' | translate}}:</b></ion-label>
                    <!--<ion-datetime displayFormat="MMMM/DD/YYYY"  [(ngModel)]="form.date" type="text" name="date" class="date"></ion-datetime>-->
                    <ion-input disabled="true" type="text" name="Select Date" class="date" (click)="openDatepicker()" [(ngModel)]="form.appointDate " ng-readonly></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label><b>{{'Time' | translate}}:</b></ion-label>
                    <ion-datetime displayFormat="h:m:a"  [(ngModel)]="form.time" type="text" name="time" class="time"></ion-datetime>
                    </ion-col>
              </ion-row>
           </ion-grid>

           <ion-item class="service">
              <ion-label><b>{{'Select Service' | translate}}</b></ion-label>
              <ion-select [(ngModel)]="form.service" style="font-size: 10px;" name="service">
             <ion-option *ngFor="let item of serviceList" value="{{item.name}}">{{item.name}}</ion-option>
              </ion-select>
            </ion-item>
   
            <ion-item>
              <ion-textarea rows="2" type="text" id="textarea" [(ngModel)]="form.note" name="note"  placeholder="{{'Note' | translate}}">
              </ion-textarea>
            </ion-item>

        </ion-list>  
     </form>  
     <!-- this shows when error occur -->
       <div class="error-message">
          <ion-label color="danger" text-wrap><b>{{errorMessage}}</b></ion-label>
       </div>
     <button ion-button block color="chocolate" round  [disabled]="disableSubmit" (click)="sumitbooking()">{{'Submit Booking' | translate}}</button>

  
    </div> 


    <div *ngIf ="!this.currentUser">
        <div padding class="welcome auth-bg">
            <!--logo-->
            <div class="logo" text-center>  
              <div class="inner">
                <!--<ion-icon name="ios-pin-outline" color="primary"></ion-icon>-->
                <h1 ion-text color="head">{{'Book Appointment' | translate}}</h1>
              </div>
            </div>
          
            <!--slides-->
            <ion-slides  loop="true" autoplay="3000">
              <ion-slide>
                <ion-icon name="lock" color="head"></ion-icon>
                <p ion-text color="head">
                  {{'Login or Create Account' | translate}}
                </p>
              </ion-slide>
              <ion-slide>
                <ion-icon name="create" color="head"></ion-icon>
                <p ion-text color="head">
                    {{'Book Appointment' | translate}}
                </p>
              </ion-slide>
              <ion-slide>
                <ion-icon name="heart" color="head"></ion-icon>
                <ion-icon name="smile" color="head"></ion-icon>
                <ion-icon name="md-happy" color="head"></ion-icon>
                <p ion-text color="head">
                  {{'Enjoy our services' | translate}} 
                </p>
              </ion-slide>
            </ion-slides>
          
            <!--buttons-->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <button ion-button block color="head" (click)="goLogin()">
                    {{'Login' | translate}}
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button block color="head" outline (click)="goSignup()">
                    {{'Signup' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </div>
</ion-content>
  
   

 
