.swiper-pagination-bullet-active {
    background: #660066;
}

.bg-image1 {
    background-image: url('../assets/imgs/introo.png');
    background-repeat: no-repeat;
    //background-size: contain;
    opacity: 0.9;
}

.bg-image2 {
    background-image: url('../assets/imgs/intro2.png');
    background-repeat: no-repeat;
    opacity: 0.9;
}  

.bg-image3 {
    background-image: url('../assets/imgs/letgo.png');
    background-repeat: no-repeat;
    background-position: center;  
    opacity: 0.9;
}
.padding {
    padding-bottom: 100px;
}
  

.slide-zoom {
    display:flex;
    justify-content:center; 
    align-items:center;
    width:100%;
    //background: linear-gradient(0deg, rgba(102, 0, 102, 0.84) 0%, rgba(255, 102, 163, 0.15) 100%) !important;
    height: 100%;
}
  
  
